<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>App Home</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <p>
    hello world</p>
	<!-- Upload Javascript files from the public folder-->
	<script type="text/javascript" src="./js/jquery-1.11.1.min.js"></script>
</body>
</html>
